:root {
  --bg: #301e4e;
  --headline: #000;
  --paragraph: #c9bae2;
  --cardBG: #fff;
  --cardText: #cabae2;
  --activeColor: #ff6e6c;
  --ff: "Nunito", sans-serif;
}

.tabs {
  width: 100%;
}

.tabs__content {
  padding: 5px 30px;
  color: var(--paragraph);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background: var(--cardBG);
}

.tabs__content h3 {
  color: var(--headline);
  font-weight: 700;
  font-family: inherit;
  font-size: 24px;
  margin-bottom: 10px;
}

.tabs__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 20px 20px;
}

.tabs__button {
  background: rgba(0, 0, 0, 0);
  padding: 5px 20px;
  color: var(--headline);
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 30px;
  display: block;
  position: relative;
  font-family: inherit;
  font-weight: 400;
}

.tabs__button.active {
  background: #00037c;
  color: #fff;
}

/* .tabs__button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--activeColor);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.4s ease-in-out;
} */

/* .tabs__button.active::after {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.4s ease-in-out;
} */

.tabs__item:not(:last-child) {
  margin-right: 10px;
}
