.navbar {
    background-color: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    width: 30%;
    height: 100vh;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width:768px) {
      width: 100vw;
    }
  }

  .navbar-container{
    padding:10px;
  }
  
  .navbar.opened {
    transform: translateX(0);
  }
  
  .navbar ul {
    list-style-type: none;
    text-align: left;
    padding: 2rem 2rem 1rem;
  }
  
  .navbar li {
    margin: 15px 0;
  }
  
  .navbar a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .colorChange
  {
    background-color: #d9d9d92d;
    
  }

  .userPic
  {
    box-shadow: 3px 10px 14px 0px #00000040;
  }