.searchContainer {
  background-color: #000080;
  color: white;
}

.headerContainerCustom {
  box-shadow: 0px 4px 4px 0px #ffffff14;
  background-color: #00037c;
  // background: linear-gradient(180deg, #00037C 0%, rgba(0, 3, 124, 0.645833) 35.42%, rgba(0, 3, 124, 0.328125) 67.19%, rgba(0, 3, 124, 0.145833) 85.42%, rgba(0, 3, 124, 0) 100%);
  //   mix-blend-mode: screen;
}
